body {
      margin: 0;
      font-family: "Noto Serif TC", Georgia, serif;
      color: #2c3e50;
      line-height: 1.9;
      background: linear-gradient(180deg, #fdfcf9 0%, #f7f3ef 100%);
    }

    nav {
      position: sticky;
      top: 0;
      background: #fdfcf9;
      padding: 14px 20px;
      border-bottom: 2px solid #1F477D;
      font-family: "Georgia", serif;
      letter-spacing: 1px;
      text-align: center;
      z-index: 100;
    }
    nav a {
      margin: 0 40px;
      text-decoration: none;
      color: #1F477D;
      font-weight: bold;
      transition: all 0.3s;
    }
    nav a:hover {
      color: #2d66b0;
      text-shadow: 0 0 6px rgba(142,68,173,0.3);
    }

    section {
      max-width: 700px;
      margin: 40px auto;
      padding: 0 20px;
      
    }

    .work-title {
      font-size: 28px;
      font-weight: bold;
      color: #1F477D;
      margin-bottom: 20px;
      text-align: center;
      position: relative;
    }

    /* 日期放標題下方，右下角 */
    .work-date {
      font-size: 14px;
      color: #999;
      text-align: right;
      margin-bottom: 15px;
    }

    .content {
      font-size: 16px;
      color: #444;
      line-height: 1.9;
      max-width: 600px;      /* 限制區塊寬度 */
      margin: 0 auto;         /* 水平置中 */
      
    }
    .subcontent{
      /* border: 5px solid red; */
      width: fit-content;
      margin: 0 auto ;
    }
    .content p {
      margin-bottom: 20px;
      /* text-align: center;  */
    }

    .back-link {
      display: inline-block;
      margin-top: 25px;
      text-decoration: none;
      font-weight: bold;
      color: #2d66b0;
      transition: color 0.3s;
    }
    .back-link:hover {
      color: #1F477D;
    }

    footer {
      text-align: center;
      padding: 40px 20px;
      color: #555;
    }